.classroom-list-container {
  padding: 40px;
}

.class-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.class-card {
  background: white;
  padding: 20px;
  border-radius: 16px;
  text-decoration: none;
  color: black;
  box-shadow: 0 6px 15px rgba(0,0,0,0.05);
  transition: 0.3s ease;
}

.class-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(220,39,67,0.25);
}