.welcome-container {
  display: flex;
  height: 100vh;
  overflow: hidden;   /* Prevent whole page scroll */
}

/* LEFT SIDE */
.section-1 {
  margin:0;
  padding:0;
  width: 50%;
  background: linear-gradient(135deg,#f09433,#e6683c,#dc2743,#cc2366,#bc1888);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

/* RIGHT SIDE */
.enter-login {
  width: 50%;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-y: auto;   /* Allow scrolling only here */
}
